@media (min-width: 992px) {
    .main-wrapper .cta-section {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 181px;
        width: 100%;
        max-width: calc(100% - 280px) !important;
        z-index: 1;
    }
    
    .main-wrapper .cta-section > div{
        max-width: calc(100% - 280px) !important;
    }

    article > div {
        margin-top: 182px;
    }
}
